* {
    font-family: "Liberation Mono";
    font-size: 12px;
    min-height: 0;
}

window#waybar,
#custom-qwertywm,
#custom-conn,
#custom-tailscale,
#custom-cpu,
#custom-gpu,
#custom-weather,
#custom-date,
#clock {
    background: #000000;
    color: #c0c0c0;
    border: none;
    padding: 0 6px;
}
