* {
    font-family: "Liberation Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar { background: #000000; border: none; font-size: 13px; }

window#waybar { background: #000000; border: none; }

#custom-qwertywm { color: #00aa00; background: #000000; padding: 0 8px; }
#custom-weather  { color: #00aaaa; background: #000000; padding: 0 8px; }
#custom-conn     { color: #aa5500; background: #000000; padding: 0 8px; }
#custom-tailscale { color: #5555ff; background: #000000; padding: 0 8px; }
#custom-cpu      { color: #aaaaaa; background: #000000; padding: 0 8px; }
#custom-gpu      { color: #aa00aa; background: #000000; padding: 0 8px; }
#custom-date     { color: #c0c0c0; background: #000000; padding: 0 8px; }
#clock           { color: #c0c0c0; background: #000000; padding: 0 6px; }
