#!/usr/bin/make -f

export DH_GOLANG_INSTALL_ALL := 1

%:
	dh $@ --buildsystem=golang

override_dh_auto_build:
	go build -ldflags="-s -w" ./cmd/qwertywm
	go build -ldflags="-s -w" ./cmd/qwertywmctl

override_dh_auto_install:
	install -Dm755 qwertywm $(CURDIR)/debian/qwertywm/usr/bin/qwertywm
	install -Dm755 qwertywmctl $(CURDIR)/debian/qwertywm/usr/bin/qwertywmctl

override_dh_auto_test:
	go vet ./...
